* {
    margin: 0;
    padding: 0;
}



:root {
font-family: "Alice", serif;


}


body {
background-image: url(./imagens/bg-image.jpg);
background-size: cover;
}


#page {
box-sizing: border-box;
    background-color: #F0E8C2;
width: 50rem;
padding: 1.5rem;
border-radius: 1.5rem;
margin: 3rem auto 1.75rem;
color: #573A37;

}

img[src*="main"] {
border-radius: 1rem;

}

main {
padding: 1.5rem;
}

section + section {
    margin-top: 1.5rem;
}

#about p + p {
margin-top: .75rem;
}

#ingredients ul {
    padding-left: 1.5rem;
    
}

h1 {
    line-height: 140%;
    font-size: 2.5rem;
    
}

h2 {
    font-size: 1.5rem;
}

h1, h2 {
    line-height: 150%;
color: #291B1A;
margin-bottom: .25rem;
}

footer {
    color: #291B1A;
    text-align: center;
padding-bottom: 3rem;

}

footer img {
vertical-align: middle;

}

@media (width <= 500px) { 
    body {
        padding-inline: .5rem;
    }
#page {
    width: 100%;
    overflow-x: hidden;
    padding: .5rem;
}

img[src*="main"] {
    width: 100%;
}

h1 {
    font-size: 1.75rem;
}

    h2 {
        font-size: 1.25rem;
    }  

}